{% extends 'base.html' %} {% load static %}{% block content %}
<div class="about">
  <div class="pt-5 pb-5 issues">
    <h2 class="pb-5">About US</h2>
    <!-- <p></p> -->
  </div>
  <div style="text-align: center">
    <img
      src="{% static 'conv.jpeg' %}"
      alt="student-picture"
      height="100%"
      width="500px"
      style="
        position: relative;
        top: -40px;
        box-shadow: -30px -30px 4px saddlebrown;
      "
    />
    <p style="width: 38%; margin: 0px auto; text-align: justify">
      <span style="font-weight: bold">Nasarawa State University,</span> Keffi is
      a young university situated in the middle belt region of Nigeria. The
      University has accomplished incomparable goals within its short time of
      birth. this is as a result of its determination and diligence in
      administration. <br /><br />
      Here in Nsuk HelpDesk we provide you with most recent and accurate
      information regarding happenings around our versity. We are also here to
      resolve your ICT related issues. Contact when there is need
    </p>
  </div>
  <div class="gallery pt-5 ps-3 pe-3" style="text-align: center">
    <h3 class="pt-3 pb-5">Photo Gallery</h3>
    <div class="row">
      <div class="col-md-4">
        <img
          src="{% static 'gal1.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'gal2.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'gal3.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-4">
        <img
          src="{% static 'gal4.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'gal5.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'gal1.jpeg' %}"
          alt="gal1"
          height="100%"
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
