{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- adding bootstrap -->
    <link
    rel="stylesheet"
    href="{% static 'bootstrap/css/bootstrap.min.css' %}"
  />
  <script href="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  <link rel="stylesheet" href="{% static 'my_style.css' %}">
    <title>{% block title %} Base title {% endblock %}</title>
  </head>
  <body>
    <!-- header section -->
    <section>
      <header>
        <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top"
        style="padding: 1% 1%; background-color: saddlebrown"
      >
        <!-- humberger button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon"
            style="background-color: white; color: white"
          ></span>
        </button>
        <!-- the nav brand -->
        <a href="/" class="navbar-brand" style="color: white;font-weight: bold;">
          NSUK Help Desk
        </a>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a href="/issues" class="nav-link">Issues</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="/faq" class="nav-link">Faq</a>
            </li>
          </ul>
          <div class="mx-2">

            <a href="/admin" class="btn btn-outline-dark">Login | Staff only </a>
          </div>
          </form>
        </div>
      </nav>
      {{message}}dfsdkjlfs dfksjd
      {{messages}}
      {% if messages %}
      {% for message in messages %}
      <script>window.alert("Issue submitted successfully")</script>
      {{message}}
      {% endfor %}
      {% endif %}
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'bg.jpg' %}" class="d-block w-100" alt="bg 1">
          </div>
        </div>
      </div>
      </header>
    </section>
    <!-- body section -->
    <section>{% block content %} {% endblock%}</section>
    <!-- footer -->
    <section>
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted"
            >© 2022 NSUK HelpDesk.</span
          >
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram"></use></svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook"></use></svg>
            </a>
          </li>
        </ul>
      </footer>
    </section>
  </body>
</html>
