{% extends 'base.html' %}{% block title %} {% endblock %} {% block content %}
<div>
  <div class="row">
    <div class="col-md">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#demo"
        class="btn btn-dark"
        style="width: 100%"
      >
        + Collapsible
      </button>

      <div id="demo" class="collapse">Lorem ipsum dolor text....</div>
    </div>
    <div class="col-md">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#demo"
        class="btn btn-dark"
      >
        + Collapsible
      </button>

      <div id="demo" class="collapse">Lorem ipsum dolor text....</div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
{% endblock %}
