{% extends 'base.html' %}{% block title %}NSUK HelpDesk | Frequently asked
Questions {% endblock %} {% block content %}
<div class="container pt-5">
  <h2 class="pt-4 pb-4" style="text-align: center">
    FREQUENTLY ASKED QUESTIONS
  </h2>
  <div class="row">
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq1"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left"
      >
        + I Rejected my admission. what should i do?
      </button>

      <div id="faq1" class="collapse pt-2">
        Sorry about that, unfortunately, when you reject your admission there is
        nothing we can do about that. You instead advice to look out for
        admission in other schools you include in your choice. Best regards
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq2"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left"
      >
        + My School fee is not reflecting in the portal after payment.
      </button>

      <div id="faq2" class="collapse pt-2">
        Kindly to the contact us tab and fill in a complain. while you do so?
        provide your admission number and your school invoice ID number for
        rectification
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq3"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left"
      >
        + I can't login with the default password to my portal.
      </button>

      <div id="faq3" class="collapse">
        Having difficulties during login can be as a result of using to wrong
        pasword, or not correcting typing your matric number. Do not that the
        default password for Undergraduate full time is "123456", while the one
        for part-time is "Student@1". for PG school the password "12345678".
        please note that all password are without qoutes. if after trying
        password and you still have issues, Kindly use the contact us tab to log
        your complain for further processing.
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq4"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left; background-color: saddlebrown"
      >
        + My Level is not correctly displayed
      </button>

      <div id="faq4" class="collapse">
        This could be system related error. Kindly log in your complain
        providing your matric number, current level and level displayed on the
        portal for further processing.
      </div>
    </div>
    <!-- sep -->
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq5"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left"
      >
        + I wish to change my course
      </button>

      <div id="faq5" class="collapse pt-2">
        For change of course, kindly visit your Head Of Department(HOD) for all
        the requisite steps you most follow for a successful change of course.
        All needed information regarding the whole process will be provided you
        there. Good luck
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <button
        data-bs-toggle="collapse"
        data-bs-target="#faq6"
        class="btn btn-dark faq-btn"
        style="width: 100%; text-align: left"
      >
        + My biodata isn't complete.
      </button>

      <div id="faq6" class="collapse pt-2">
        Kindly visit any Cyber Cafe or the ICT for your bio data capture and
        update. There is no point worrying.
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
{% endblock %}
