{% include 'base.html' %} {% block content %}{% load static%}

<div class="container-fluid home">
  <div style="padding: 1%">
    <h2 style="text-transform: uppercase">
      Welcome to
      <span style="font-weight: bolder; color: white"> NSUK HelpDesk.</span>
    </h2>
    <p class="home-welcome">
      Welcome to NSUK HelpDesk where all your ICT related issues are treated and
      resolve. Feel free to contact us for any challenge you are currently
      having.Cheers! and welcome once more
    </p>
  </div>
  <div class="home-inner">
    <!-- <hr /> -->
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'gir3.png' %}" alt="picture" />
      </div>
      <div class="col-md-6" style="text-align: left">
        <div style="padding: 10% 0px; margin: 0px auto; width: 70%">
          <span class="mission-item">Swift Communication of information </span>
          <hr />
          <span class="mission-item">Providing assistance where needed</span>
          <hr />
          <span class="mission-item">Resolving Portal related issues</span>
          <hr />
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
