{% extends 'base.html' %}{% load static%}{% block title %}NSUK HelpDesk | Issues
{% endblock%} {% block content %}
<div class="issues pt-5">
  <h2>Track Issues</h2>
  <p>
    Kindly use the provide input area to check and track your submited Issue(s).
    To submit new issues, kindly use the contact us tab
  </p>
  <div class="inner-issues">
    <form action="{%url 'main:issue' %}" method="GET">
      <div class="input-group">
        <span class="input-group-text">Issue Ticket</span>
        <input
          class="form-control"
          type="text"
          name="ticket"
          required
          id="ticket"
          autofocus
        />
      </div>
      <br />
      <button class="btn btn-dark">Track</button>
    </form>
  </div>
  {% if issue %}
  <div class="mt-5">
    <h3>Search result</h3>
    <!-- <hr /> -->
    <table class="table">
      <tr>
        <th>Ref</th>
        <th>complainant</th>
        <th>status</th>
        <th>Submitted on</th>
      </tr>
      <tr>
        <td>{{ issue.ref }}</td>
        <td>{{ issue.complainant }}</td>
        <td>{{ issue.status }}</td>
        <td>{{ issue.date }}</td>
      </tr>
    </table>
  </div>
  {% else %}
  <div class="mt-5">
    <h3>No record found</h3>
    <hr
      width="50%"
      style="margin: 2% auto; box-shadow: 2px 0px 16px saddlebrown"
    />
    <img
      src="{% static 'dis.gif' %}"
      alt="disappointed"
      height="100%"
      width="100%"
      style="border-radius: 40px"
    />
  </div>
  {% endif %}
</div>
{%endblock %}
