/* Home page css  */
.home{
    background-color: saddlebrown;
    color:lightyellow;
    padding:0%
}
.home h2{
    text-align: center;
    padding: 0.5%;
}
.home-welcome{
    text-align: center; width: 60%; margin: auto;padding: 0px;
}
.home-inner{
    color: saddlebrown;
    padding:0px;
    background-color: rgb(238, 238, 208);
}
.vision, .mission{
    text-align: center;
    background: linear-gradient(
        to  bottom right,
      saddlebrown,
        rgb(219, 219, 161)
        /* saddlebrown */
            );
    padding:1%;
}
.mission-item{
    font-size: 25px;
}
@media (max-width: 666px) {
    .home-welcome{
        width: 100%;
        padding-bottom: 3%;
    }
}


/* about us page */
/* --------------------- */
.about-inner{
    width: 38%; margin: 0px auto; text-align: justify
}
.about-image img{
    position: relative;
    top: -40px;
    box-shadow: -30px -30px 4px saddlebrown;
    height:100%;
    width:500px;
}
@media(max-width: 666px){
    .about-inner{
        width: 90%;
    }
    .about-image{
        padding: 0px 5%;
    }
    .about-image img{
        height:100%;
        width:100%;
    }
}


/* contact page css */
.contact{
padding:2% 0px;
}

.contact-inner{
    padding:2%;
}



/* issues page css */
/* ----------------------------- */
.issues{
    text-align: center
}

.inner-issues{
    width: 50%; margin: auto
}
.inner-issues button{
    background: saddlebrown
}
@media (max-width: 666px) {
    .inner-issues{
        width: 90%; margin: auto
    }
}

/* faq page css */
.faq-btn{
    background-color: saddlebrown;
}