/* Home page css  */
.home{
    background-color: saddlebrown;
    color:lightyellow;
    padding:0%
}
.home h2{
    text-align: center;
    padding: 0.5%;
}
.home-welcome{
    text-align: center; width: 60%; margin: auto;padding: 0px;
}
.home-inner{
    color: saddlebrown;
    padding:0px;
    background-color: rgb(238, 238, 208);
}
.vision, .mission{
    text-align: center;
    background: linear-gradient(
        to  bottom right,
      saddlebrown,
        rgb(219, 219, 161)
        /* saddlebrown */
            );
    padding:1%;
}
.mission-item{
    font-size: 25px;
}



/* contact page css */
.contact{
padding:2% 0px;
}

.contact-inner{
    padding:2%;
}